fieldset {
  background: rgb(0, 255, 255);
  background: -moz-linear-gradient(90deg, rgba(0, 255, 255, 1) 0%, rgba(0, 108, 255, 1) 31%, rgba(191, 0, 238, 1) 96%);
  background: -webkit-linear-gradient(
    90deg,
    rgba(0, 255, 255, 1) 0%,
    rgba(0, 108, 255, 1) 31%,
    rgba(191, 0, 238, 1) 96%
  );
  background: linear-gradient(90deg, rgba(0, 255, 255, 1) 0%, rgba(0, 108, 255, 1) 31%, rgba(191, 0, 238, 1) 96%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ffff",endColorstr="#bf00ee",GradientType=1);
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 0.5em;
}

legend {
  color: black;
  font-weight: bold;
  font-size: 85%;
  margin-bottom: .5em;
}

label,input, select {
  font-size: 90%;
}

input, select {
  margin-bottom: 0.5em;
}

button {
  width: 7em;
  box-shadow: 2px 2px 0 black;
  background-color: aqua;
}

form {
  margin: 2em;
}

footer {
  margin-left: 2em;
  margin-top: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

#top {
  margin-left: 2em;
  margin-top: 0.5em;
  margin-right: 0.5em;
}